body {
	max-width: calc(99vw - 5.5em - 16px);
}

.error {
  position: absolute;
  background: pink;
  left: 0;
  top: -5em;
  right: 0;
  padding: 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  transition: top 0.5s linear;
}

.controls {
  background: lightgray;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 3.5em;
  padding: 1em;
  z-index: 10;
}

.vidcollection {
  min-height: 100vh;
}

.controls2 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.controls2 > button {
  font-size: 3em;
  margin: 10px 0 10px 0;
}

.fixpos {
	transform: translate(0, 20%);
}

video {
	max-height: 50vh;
	max-width: 50vh;
}

@media (max-aspect-ratio: 10/16) {
	video {
		max-width: calc(90vw - 3.5em);
		max-height: 33vh;
	}
	.controls2 > button {
		font-size: 1.5em;
		margin: 10px 0 10px 0;
	}
	.controls {
		width: 2em;
		padding: 0.75em;
	}
}
@media (min-aspect-ratio: 16/8) {
	video {
		max-height: 45vh;
	}
}

.countdown {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background: #515151ed;
  z-index: 1;
  color: #e3e3e3;
	display: none;
}
.countdown-number {
  line-height: 100vh;
  font-size: 40vh;
}
